.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradlew
.idea/dictionaries/
.idea/inspectionProfiles/
.merge_file_CITEQj
0001-add-modulegcm.patch
TestPack.iml
*.orig
